@use '@angular/material' as mat;
@use 'libs/feds-styles/src/assets/styles/_variables.scss' as variables;

.leaderboard-list-container{
  display: block;
  max-width: 600px;
  margin: 0 auto;
  color: var(--mat-sys-secondary);
  @include mat.tabs-overrides((
          background-color: transparent,
          active-label-text-color: var(--mat-sys-primary),
  ));
  @include mat.card-overrides((
          elevated-container-color: transparent,
          outlined-container-color: transparent,
          outlined-container-elevation: transparent,
          title-text-size: 45px,
  ));
}

.leaderboard-card {
  margin-bottom: 10px;
}

.leaderboard-entry {
  display: flex;
  align-items: center;
  padding: 10px;
}

.rank {
  font-size: 26px;
  font-weight: bold;
  margin-right: 20px;
  min-width: 30px;
  text-shadow: variables.$text-shadow;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.trade-count {
  font-size: 20px;
  font-weight: bold;
}

.name {
  font-size: 18px;
}

@media (max-width: 480px) {
  .leaderboard-entry {
    flex-wrap: wrap;
  }

  .info {
    width: 100%;
    margin-left: 0;
    text-align: left;
    margin-top: 10px;
  }
}




/*
@use '@angular/material' as mat;

.leaderboard-list-container{
  @include mat.expansion-overrides((
          container-background-color: transparent,
          container-text-color: var(--mat-sys-primary),
          header-text-color: var(--mat-sys-primary),
  ));
  @include mat.card-overrides((
          elevated-container-color: transparent,
          outlined-container-color: transparent,
          outlined-container-elevation: transparent,
          title-text-size: 45px,
  ));
}

.leaderboard-list-container__body {
  margin-top: 20px;
  &__card {
    max-width: 400px;
  }
}

.card {
  column-gap: 5px;
  &__subtitle {
    display: flex;
    column-gap: 10px;
  }
}

.card-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.mat-tab-group {
  margin-bottom: 48px;
}*/
