<mat-expansion-panel class="planets-list-header" disabled>
  <mat-expansion-panel-header>
    <mat-panel-description>
    </mat-panel-description>
    <mat-panel-description>Name</mat-panel-description>
    <mat-panel-description>
      Buy oders
    </mat-panel-description>
    <mat-panel-description>
      Sell orders
    </mat-panel-description>
    <mat-panel-description>
      Total volume ( ZJ )
    </mat-panel-description>
    <mat-panel-description>
      Avg price ( ZJ )
    </mat-panel-description>
  </mat-expansion-panel-header>
</mat-expansion-panel>